@import url('https://fonts.googleapis.com/css?family=Concert+One|PT+Sans|Source+Sans+Pro');

@font-face {
    font-family: 'ginevaregular';
    src: url('../fonts/gineva-regular-webfont.woff2') format('woff2'),
         url('../fonts/gineva-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// BASE --         font-family: 'PT Sans', sans-serif
// TITLE pt.1 --   font-family: 'Source Sans Pro', sans-serif
// TITLE pt.2 --   font-family: 'ginevaregular', sans-serif
// MOTTO --        font-family: 'Concert One', cursive
