footer.footer
  a.footer__logo-link(href="#" title="Go back to the homepage")
    img.footer__logo(src="{{site.baseurl}}/assets/img/teba-logo.png")
  p.footer__copyright Copyright 2018. All rights Reserved
