// ==================== Footer-Section ==================== 
footer.footer
  a.footer__logo-link(href="#hero" title="Go back to the homepage")
    img.footer__logo(src="{{site.baseurl}}/assets/img/teba-logo.png")
  p.footer__copyright Website hand crafted by  <a href="#" target="_blank">P.Ozyzniewski</a> © 2018. <br>All rights reserved.
