// ==================== Gallery-Section ==================== 
section.gallery.flex--cc#gallery
  h2.common__title take a closer<span>Look</span>
  
  .gallery__wrap
    .gallery__row
      a.photo.photo--square(href="{{site.baseurl}}/assets/img/gallery/gallery-img-1.jpg" data-lightbox="town-end-gallery" data-title="Our trainer Andrzej (in the middle) with our two adepts.")
        figure.photo__fig
          img.photo__img.fullvw(src="{{site.baseurl}}/assets/img/gallery/gallery-img-1.jpg" alt="Our trainer Andrzej surrounded by our two adepts. They are standing in the boxing stance in the middle of the ring.")
  
      .gallery__name-square
        h3.gallery__name gallery
  
      a.photo.photo--rectangle(href="{{site.baseurl}}/assets/img/gallery/gallery-img-2.jpg" data-lightbox="town-end-gallery" data-title="Box is for everyone! Our ladies training their hooks.")
        figure.photo__fig
          img.photo__img.fullvw(src="{{site.baseurl}}/assets/img/gallery/gallery-img-2.jpg" alt="Our laidies that are in the middle of their boxing classes. They are standing inside the ring, in three pairs, practising their punches.")

    .gallery__row
      a.photo.photo--rectangle.photo--visible(href="{{site.baseurl}}/assets/img/gallery/gallery-img-3.jpg" data-lightbox="town-end-gallery" data-title="Meet our little champs!")
        figure.photo__fig
          img.photo__img.fullvw(src="{{site.baseurl}}/assets/img/gallery/gallery-img-3.jpg" alt="Two kids during their sparring session. One is standing in the middle of the ring, keeping his guard low, while the other goes around him, whaiting for perfect moment to start his offensive.")

      a.photo.photo--square(href="{{site.baseurl}}/assets/img/gallery/gallery-img-4.jpg" data-lightbox="town-end-gallery" data-title="Every good training has to start with propper warm-up :)")
        figure.photo__fig
          img.photo__img.fullvw(src="{{site.baseurl}}/assets/img/gallery/gallery-img-4.jpg" alt="Our adepts during their warm-up. The photo is taken from above.")
        .photo__banner
          .photo__banner-text town end boxing academy

      a.photo.photo--square(href="{{site.baseurl}}/assets/img/gallery/gallery-img-5.jpg" data-lightbox="town-end-gallery" data-title="We are good and we have proof for that!")
        figure.photo__fig
          img.photo__img.fullvw(src="{{site.baseurl}}/assets/img/gallery/gallery-img-5.jpg" alt="Our latest award - Proud Of Barnsley 2017. Photo shows a figurine of a man raising his hands up, a diploma for our trainer Dan Baugh and a picture of Dan surrounded by his friends")
