section.gallery
  h2.common__title take a closer<span>Look</span>
  
  .gallery__wrap
    .gallery__row
      a.photo.photo--square(href="{{site.baseurl}}/assets/img/gallery-img-1-x2.jpg" data-lightbox="image-1" data-title="My caption")
        figure.photo__fig
          img.photo__img(src="{{site.baseurl}}/assets/img/gallery-img-1.jpg" alt="description")
  
      .gallery__name-square
        h3.gallery__name gallery
  
      a.photo.photo--rectangle(href="{{site.baseurl}}/assets/img/gallery-img-2.jpg" data-lightbox="image-1" data-title="My caption")
        figure.photo__fig
          img.photo__img(src="{{site.baseurl}}/assets/img/gallery-img-2.jpg" alt="description")

    .gallery__row
      a.photo.photo--rectangle.photo--visible(href="{{site.baseurl}}/assets/img/gallery-img-3.jpg" data-lightbox="image-1" data-title="My caption")
        figure.photo__fig
          img.photo__img(src="{{site.baseurl}}/assets/img/gallery-img-3.jpg" alt="description")

      a.photo.photo--square(href="{{site.baseurl}}/assets/img/gallery-img-4.jpg" data-lightbox="image-1" data-title="My caption")
        figure.photo__fig
          img.photo__img(src="{{site.baseurl}}/assets/img/gallery-img-4.jpg" alt="description")

      a.photo.photo--square(href="{{site.baseurl}}/assets/img/gallery-img-5.jpg" data-lightbox="image-1" data-title="My caption")
        figure.photo__fig
          img.photo__img(src="{{site.baseurl}}/assets/img/gallery-img-5.jpg" alt="description")
