header.header
  a.header_logo(href="#" title="Go back to the homepage") logo
  
  nav.nav
    ul
      li.nav_item
        a.nav_link(href="#" title="Go back to the homepage") home
      li.nav_item
        a.nav_link(href="#" title="A few words about us") about us
      li.nav_item
        a.nav_link(href="#" title="Meet our incredible staff") our staff
      li.nav_item
        a.nav_link(href="#" title="Check how it looks like") gallery
      li.nav_item
        a.nav_link(href="#" title="Plan your visit width our timetable") timetable
      li.nav_item
        a.nav_link(href="#" title="Give us a call or write us a message") contact
    button.nav_button(type="button" title="Open menu") hamburger
