// ==================== Header-Section ==================== 
header.header
  .header-wrap
    a.header__logo-link(href="#" title="Go back to the homepage")
      h1.visuallyhidden Town end boxing academy website
      img.header__logo(src="{{site.baseurl}}/assets/img/teba-logo.png")
    
    nav.nav(aria-labelledby="nav")
      h2.visuallyhidden#nav main navigation
      button.nav__btn(type="button" title="Open menu")
        span.nav__btn-bars
      
      ul.nav__list
        li.nav__item
          a.nav__link(href="#body" title="Go back to the homepage") home
        li.nav__item
          a.nav__link(href="#about" title="A few words about us") about us
        li.nav__item
          a.nav__link(href="#staff" title="Meet our incredible staff") our staff
        li.nav__item
          a.nav__link(href="#gallery" title="Check how it looks like") gallery
        li.nav__item
          a.nav__link(href="#timetable" title="Plan your visit width our timetable") timetable
        li.nav__item
          a.nav__link(href="#contact" title="Give us a call or write us a message") contact
    
