header.header
  .header-wrap
    a.header__logo-link(href="#" title="Go back to the homepage")
      h1.visuallyhidden Town end boxing academy website
      img.header__logo(src="{{site.baseurl}}/assets/img/svg/logo.svg")
    
    nav.nav
      h2.visuallyhidden main navigation
      button.nav__btn(type="button" title="Open menu")
        span.nav__btn-bars
      
      ul.nav__list
        li.nav__item
          a.nav__link(href="#" title="Go back to the homepage") home
        li.nav__item
          a.nav__link(href="#" title="A few words about us") about us
        li.nav__item
          a.nav__link(href="#" title="Meet our incredible staff") our staff
        li.nav__item
          a.nav__link(href="#" title="Check how it looks like") gallery
        li.nav__item
          a.nav__link(href="#" title="Plan your visit width our timetable") timetable
        li.nav__item
          a.nav__link(href="#" title="Give us a call or write us a message") contact
    
