section.hero#hero
  .slider
    .hero__slide.hero__slide--one
    .hero__slide.hero__slide--two
  
  .hero__text    
    h2.hero__title - town end boxing academy -  
    a.hero__arrow(href="#about" title="Welcome to our website")
      img.hero__arrow-svg(src="{{site.baseurl}}/assets/img/svg/arrow.svg")
