section.motto
  figure
    img(src="{{site.baseurl}}/assets/img/motto-img.jpg" alt="description")

  h2.motto__fig what seems impossible today will soon become your warm-up
  p.motto__desc Our instructors actively participate in working with individuals and groups to improve their fitness and wellbeing. People of all ages are welcome, supported and guidance given to enable self improvement to attain a high standard.
