section.staff
  h2.staff__title meet our <span>staff</span>
  p.staff__desc We are appropriately qualified to teach and engage with people from all walks of life. There is a vibrant positive energetic atmosphere instilled by the instructor's who show that fun,determination and and a positive attitude are the key to success. 
  button.cta(type="button" title="Go ahead and contact us") contact us
  
  //- figure
  //-   img(src="{{site.baseurl}}/assets/img/staff-andrzej.jpg" alt="description")
    
  h3.staff__coach-name andrzej sledzinski
  p.staff__coach-desc Andrzej would like to pass on his Boxing knowledge to YOU! He wants to teach you the boxing techniques and the fitness routines of professionals alike. You dont have to have boxed before as all abilities are catered for.
