section.staff.flex--cc
  h2.common__title meet our<span>Staff</span>
  p.common__desc We are appropriately qualified to teach and engage with people from all walks of life. There is a vibrant positive energetic atmosphere instilled by the instructor's who show that fun,determination and and a positive attitude are the key to success. 
  button.cta(type="button" title="Go ahead and contact us") contact us
  
  .coach
    figure.coach__fig
      img.coach__fig-img(src="{{site.baseurl}}/assets/img/staff-andrzej.jpg" alt="description")
    
    .coach__text  
      h3.coach__name andrzej sledzinski
      p.coach__desc Andrzej would like to pass on his Boxing knowledge to YOU! He wants to teach you the boxing techniques and the fitness routines of professionals alike. You dont have to have boxed before as all abilities are catered for.
