section.timetable.flex--cc#timetable
  h2.common__title check the<span>Timetable</span>
  p.common__desc At Town End Boxing Academy we have a class for everyone. Our gym is a friendly place offering a fun atmosphere for people of all ages and fitness levels. 
  ul.timetable__wrapper
    li.timetable__day monday
        .timetable__time adults - 6:30 pm
        .timetable__time kids - 6:30 pm
    li.timetable__day wednesday
        .timetable__time adults - 6:30 pm
        .timetable__time kids - 6:30 pm
    li.timetable__day friday
        .timetable__time adults - 6:30 pm
        .timetable__time kids - 6:30 pm
