section.welcome.flex--cc#about
  h2.common__title welcome to our<span>Academy</span>
  p.common__desc We are open to youth, young adult and adults wishing to get fit, feel better about them selves and learn to box. We are a community gym in barnsley
  a.cta(title="Don't wait, start your jurney now" href="#contact") start today
