// ==================== Welcome-Section ==================== 
section.welcome.flex--cc#about
  h2.common__title Welcome to our<span>Academy</span>
  p.common__desc We are open to youth, young adult and adults wishing to get fit, feel better about them selves and <strong>learn to box</strong>. We are a community <strong>gym in barnsley!</strong>
  a.cta(title="Don't wait, start your jurney now" href="#contact") start today
