section.welcome
  h2.welcome_title welcome to our <span>academy</span>
  p.welcome_desc We are open to youth, young adult and adults wishing to get fit, feel better about them selves and learn to box. We are a community gym in barnsley
  button.cta(type="button" title="Don't wait, start your jurney now") start today
