/* ==================== ==================== ====================
 * 1-Base - Buttons
 * ==================== ==================== ==================== */
.cta
  font-size: 2.4rem
  text-transform: uppercase
  color: $btn-text
  background: $btn-bg
  padding: .5em 1.87em
  border: none
  margin-bottom: 7rem
  cursor: pointer

  &:focus
    @include outline
    padding: .5em 1.87em

  // 813px
  @media (min-width: 50.8125em)
    margin-bottom: 15rem
