// Vars
$common_title: #f01b16
$text-color: #9f9a97
$socondary-text-color: #eeeeee
$bg-color: #F6F6F8
$accent-color: $common_title
$link-color: #ddd
$selection-color: #111
$motto-bg: #040824
// Vars - button
$btn-text: #fff2ee
$btn-bg: #ff7e66
// Vars - navigation
$nav-bg: rgba(0,0,0,.9)


// Mixins
@mixin outline
  box-shadow: 0 0 .2rem .2rem #80BCFA, inset 0 0 .1rem .1rem #80BCFA
  border-radius: .1rem
  padding: .3rem
