// Layout Home

.home-wrap
  max-width: 128rem
  // margin-left: auto
  // margin-right: auto

// flex classes
.flex--cc
  display: flex
  flex-direction: column
  align-items: center


// Common elements
.common__title
  font-size: 4rem
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 100
  text-transform: capitalize
  color: #f01b16
  margin-top: 7rem
  margin-bottom: 5rem

  // 813px
  @media (min-width: 50.8125em)
    margin-top: 16rem
    margin-bottom: 7.5rem

  span
    font-family: 'ginevaregular', sans-serif
    margin-left: .3em

@media (max-width: 36em)
  .common__title span
    margin-left: 0

  .common__title span::before
    content: "\A"
    white-space: pre




.common__desc
  color: #9f9a97
  max-width: 107rem
  margin-bottom: 5rem

  // 813px
  @media (min-width: 50.8125em)
    margin-bottom: 8rem
