// ==================== Contact ==================== ====================
.contact

  &__form
    background:
      color: #111
      image: url("../img/contact-bg.jpg")
      size: cover
      position: 82% center
      repeat: no-repeat

  // ==================== Contact / Title ====================
  .common__title
    color: $socondary-text-color
    padding-top: 16rem

    span::before
      content: ''
      margin-left: .3em

// ==================== Contact ==================== Form ====================
.form
  margin-left: 1rem
  margin-right: 1rem

  // 1281px
  @media (min-width: 80.0625em)
    margin-left: auto
    margin-right: auto

  &__wrapper
    display: flex
    flex-direction: column

    // 813px
    @media (min-width: 50.8125em)
      flex-direction: row

  &__input-wrap
    margin: .5rem 0

    // 813px
    @media (min-width: 50.8125em)
      flex: 1

      &:nth-child(2)
        margin-left: 2rem
        margin-right: 2rem

  &__input,
  &__txt-area
    background-color: transparent
    color: $socondary-text-color
    border: .1rem solid #eee
    text-align: center
    text-transform: capitalize
    display: block
    width: 100%
    font-family: 'PT Sans', sans-serif
    padding: 1.6rem

  &__input::placeholder,
  &__txt-area::placeholder
    color: darken($socondary-text-color, 25%)

  &__input:focus::placeholder,
  &__txt-area:focus::placeholder
    opacity: .5

  &__txt-area
    height: 25rem
    text-align: left
    margin-bottom: 4rem

    &::placeholder
      text-align: center

  // ==================== Form / Button ====================
  &__btn
    width: 100%

// ==================== Address ==================== ====================
.address

  &__wrap
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-top: 4rem

  &__item
    display: flex
    align-items: center

    &:nth-child(2)
      margin: 3rem 0

  &__icon
    // color: red
    // fill: currentColor
    min-width: 6rem
    min-height: 4rem
    margin-left: 1rem
    margin-right: 3rem

  &__text
    font-style: normal
    text-transform: uppercase
    text-align: left
