/* ==================== ==================== ====================
 * 3-sections - Gallery
 * ==================== ==================== ==================== */
.gallery

  &__row
    display: flex
    justify-content: center

    // 813px
    @media (min-width: 50.8125em)
      background: #040824

  &__name-square
    display: none
    flex: 1

    // 813px
    @media (min-width: 50.8125em)
      display: flex
      align-items: center
      justify-content: center

  &__name
    font-family: 'Source Sans Pro', sans-serif
    font-size: 4.4rem
    text-transform: uppercase
    font-weight: 600
    letter-spacing: .3rem

/* ==================== ==================== ====================
 * 3-sections - Gallery / Photo
 * ==================== ==================== ==================== */
.photo
  display: none
  position: relative
  transition: all .3s ease-in-out

  // 813px
  @media (min-width: 50.8125em)
    display: block

    &:hover,
    &:focus
      transform: scale(1.03)
      z-index: 1

    &:focus
      @include outline
      z-index: 9999

  &--square
    max-height: 44rem
    max-width: 44rem
    flex: 1

  &--rectangle
    max-height: 44rem
    max-width: 88rem
    flex: 2

  // ==================== Photo / Text Visible On Mobile ====================
  &--visible
    display: block

    &:focus
      @include outline

    &::before,
    &::after
      content: ''
      position: absolute
      top: 10%
      bottom: 10%
      left: 5%
      right: 5%
      z-index: 1

      // 813px
      @media (min-width: 50.8125em)
        display: none !important

    &::before
      background: rgba(0,0,0,.5)

    &::after
      content: 'click to see the gallery'
      display: flex
      justify-content: center
      align-items: center
      font-size: 4rem
      color: #eee
      text-transform: uppercase
      font-weight: bold
      padding: .6em
      animation: shake 6s ease-in-out infinite

      @keyframes shake
        0%, 100%
          transform: scale(.98)
        50%
          transform: scale(1.02)

      // 576px
      @media (max-width: 36em)
        font-size: 3rem

  // Blur On Mobile
  &--visible .photo__img
    filter: blur(.15rem)

    // 813px
    @media (min-width: 50.8125em)
      filter: none

  &__fig
    margin: 0

  &__img
    width: 100%
    height: 100%
    display: block

  // ==================== Photo / Banner ====================
  &__banner
    position: absolute
    background-color: rgba(0,0,0,.75)
    top: 10%
    bottom: 10%
    left: 10%
    right: 10%
    display: flex
    align-items: center

    &-text
      color: $socondary-text-color
      text-transform: uppercase
      font-size: 3rem
      font-weight: bold
      line-height: 1.2
      padding: .5em
